
<div class="wrapper">
  <div class="container">
    <div class="row">

          <div class="col-12 col-sm-6 col-md-4 " *ngFor="let genre of (genre$ | async) | slice:0:6; let i = index">
              <div class="item bg{{i+1}}"  >
                  <a class="item-link" [routerLink]="[genre.name]">
                     {{genre.name}}
                  </a>
              </div>

           </div>

     </div>
  </div>
</div>

<!--name(pin):"rock"-->
<!--url(pin):"https://www.last.fm/tag/rock"-->
<!--reach(pin):"396393"-->
<!--taggings(pin):"3988090"-->
<!--streamable(pin):"1"-->
<!--wiki(pin):-->
