<fm-topbar></fm-topbar>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <ul class="d-flex flex-row flex-wrap ">
          <li
            *ngFor="let album of (albums$ | async) "
            class="item"
            hoverItem
          >
            <div class="inner-item" >
              <img [src]="album.image[3]['#text']" alt="album-{{album.name}}">


              <div class="overlay" >
                <span class="title">{{album.name }}</span>
                <span class="sub-title">{{album.artist.name}}</span>
                <fm-add-favorites [name]="album.name" ></fm-add-favorites>
              </div>

            </div>


          </li>
        </ul>

      </div>
  </div>
</div>
